@import url('./homes.css');

@import url('./Blog.css');

@import url('./About.css');

@import url('./contact.css');

@import url('./Design.css');

@import url('./Migrate.css');

@import url('./Pageapp.css');

@import url('./Store.css');

@import url('./message.css');

@import url('./Speed.css');

@import url('./seo.css');

@import url('./Build.css');
