.contact-section-page {
    margin-top: -125px;
    margin-bottom: 70px;
}

.today-section-contact {
    display: inline-block;
    width: 100%;
    background-image: url(../images/contactbg.webp);
    height: 980px;
    background-size: cover;
    background-repeat: no-repeat;
}

.today-section-contact .today-section-eco {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: 30px;
}

.today-section-contact .today-section-eco .today-section-eco-image img {
    width: 100%;
}

.today-section-eco-elements {
    width: 45%;
    border: 2px solid #3b3b3b;
    border-radius: 16px;
    padding: 25px 40px 40px;
}

.today-section-contact .today-section-eco .today-section-eco-image {
    width: 55%;
    position: relative;
    z-index: 1;
}

.today-section-eco-elements h2 {
    font-size: 36px;
    margin-bottom: 12px;
}

span.today-email-info {
    border: 1px solid #3b3b3b;
    padding: 5px 15px 5px 5px;
}

.today-section-eco-elements p {
    margin-bottom: 40px;
}

.today-section-eco-elements h1 {
    font-size: 35px;
    line-height: 40px;
}

.today-section-inputs input[type="text"] {
    border: none;
    background: transparent;
    color: #ebebeb;
    outline: none;
    width: 198px;
}

.today-section-inputs ::placeholder {
    color: #ebebeb;
    font-size: 14px;
}

.today-section-inputs.flexx {
    display: flex;
    gap: 10px;
    align-items: center;
    border: 1px solid #3b3b3b;
    padding: 10px;
    border-radius: 5px;
    background-color: #191919;
}

.today-section-inputs-all {
    width: 47%;
}

.today-section-inputs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 25px;

}

.today-section-inputs-all label {
    line-height: 33px;
}

.today-section-input-message {
    margin-top: 30px;
    margin-bottom: 20px;
}

.today-section-input-message label {
    line-height: 33px;
}

.today-section-input-message input[type="text"] {
    border: none;
    background: transparent;
    color: #ebebeb;
    outline: none;
    border: 1px solid #3b3b3b;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    height: 90px;
}

.today-section-input-message ::placeholder {
    color: #ebebeb;
    font-size: 14px;
}

.today-section-eco-elements button.button {
    width: 100%;
    border-radius: 5px;
}

.today-section-absute-image {
    position: absolute;
    top: 37%;
    right: -22%;
}

.today-section-map {
    margin-top: 70px;
    margin-bottom: 160px;
}

.today-section-map-create {
    background-color: #f6f6f6;
    border-radius: 8px;
}

.today-section-map-image img {
    width: 100%;
    min-width: 38px;
}

.today-section-map-elements p {
    max-width: 88%;
}

.today-section-map-create-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.today-section-map-create-flex .today-section-map-create-address-all {
    width: 50%;
    padding-left: 60px;
}

.today-section-map-create-flex .today-section-map-create-map {
    width: 50%;
}

.today-section-map-create-address-all .today-section-map-create-first-section {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 25px;
}

.today-section-map-image {
    border: 1px solid grey;
    border-style: dashed;
    padding: 15px;
    border-radius: 5px;
    background-color: white;
}

.today-section-map-elements h3 {
    font-weight: 500;
    font-size: 20px;
}

.today-section-map-create-first-section:nth-child(4) {
    margin-bottom: 0;
}

.today-section-absute-content1 {
    position: absolute;
    z-index: -1;
}

.today-section-absute-content2 {
    position: absolute;
}

.today-section-absute-content1 img {
    width: 80% !important;
}

.today-section-absute-content2 img {
    width: 80% !important;
}

.today-section-absute-content1 {
    position: absolute;
    top: 4%;
    left: 16%;
}

.today-section-absute-content2 {
    top: 5%;
    right: -7%;
    z-index: -2;
}

.today-section-map-create-flex .today-section-map-create-map iframe {
    background: transparent !important;
    border: 0px solid !important;
    border-radius: 0 8px 8px 0 !important;
}

textarea#w3review {
    background: transparent;
    color: white;
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    outline: none;
}
@media screen and (max-width:1400px) {
    .today-section-absute-image {
        display: none;
    }

    .today-section-absute-content2 {
        right: -3%;
    }

    .today-section-eco-elements h2 {
        font-size: 30px;

    }

    .today-section-inputs-all {
        width: 47.5%;
    }


}


@media screen and (max-width:1400px) {
    .today-section-inputs input[type="text"] {
        width: 190px;
    }

    .today-section-inputs-all {
        width: 46.5%;
    }

    .today-section-eco-elements {
        padding: 25px 30px 30px;
    }

    .today-section-eco-elements p {
        margin-bottom: 30px;
        font-size: 16px;

    }

    .today-section-contact {
        height: 950px;
    }
}

@media screen and (max-width:1280px) {

    .today-section-eco-elements h2 {
        font-size: 24px;
    }

    .today-section-eco-elements p {
        font-size: 12px;
    }

    .today-section-inputs-all label {
        line-height: 29px;
        font-size: 13px;
    }

    .today-section-input-message label {
        line-height: 29px;
        font-size: 13px;
    }

    .today-section-inputs ::placeholder {
        font-size: 11px;
    }

    .today-section-inputs input[type="text"] {
        width: 150px;
    }
}

@media screen and (max-width:1024px) {
    .today-section-eco-elements {
        padding: 20px 20px 20px;
    }

    .today-section-inputs ::placeholder {

        font-size: 10px;
    }

    .today-section-input-images img {
        width: 100%;
    }

    .today-section-inputs.flexx {
        padding: 4px;
    }

    .today-section-eco-elements {
        width: 56%;
    }

    .today-section-inputs {
        gap: 20px;
    }

    .today-section-input-message {
        margin-top: 15px;
    }

    .today-section-map-image img {
        min-width: 30px;
    }

    .today-section-map-image {
        padding: 10px;
    }

    .today-section-map-elements h3 {
        font-size: 16px;
    }

    .today-section-map-elements p {
        font-size: 11px;
    }

    .today-section-map-create-flex .today-section-map-create-map iframe {
        height: 400px;
    }

    .today-section-contact {
        height: 870px;
    }

}

@media screen and (max-width:991px) {
    .today-section-inputs input[type="text"] {
        width: 185px;
    }

    .today-section-inputs ::placeholder {
        font-size: 12px;
    }

    .today-section-contact .today-section-eco {
        display: block;
    }

    .today-section-inputs {
        justify-content: space-around;
    }

    .today-section-eco-elements {
        width: 70%;
        margin: auto;
    }

    .today-section-eco-elements h2 {
        font-size: 36px;
    }

    .today-section-eco-elements p {
        font-size: 16px;
    }

    .today-section-inputs.flexx {
        padding: 10px;
    }

    .today-section-inputs.flexx {
        justify-content: flex-start;
    }

    .today-section-contact {
        height: 880px;
    }

    .today-section-contact .today-section-eco .today-section-eco-image {
        width: 100%;
        margin-top: 30px;
        display: none;
    }
}

@media screen and (max-width:840px) {

    .today-section-eco-elements {
        width: 75%;
        margin: auto;
    }
}

@media screen and (max-width:768px) {
    .today-section-map-create-first-section {
        width: 100%;
        max-width: 50%;
    }

    .today-section-map-create-address-all {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .today-section-map-create-flex .today-section-map-create-address-all {
        padding-left: 20px;
    }
    .today-section-map-create-address-all .today-section-map-create-first-section {
        align-items: start;
    }

    .today-section-eco-elements {
        width: 100%;
    }

    .today-section-map-create-flex {
        display: block;
    }

    .today-section-map-create-flex .today-section-map-create-address-all {
        padding-top: 60px;
    }

    .today-section-map-create-flex .today-section-map-create-map {
        width: 100%;
    }

    .today-section-map-create-flex .today-section-map-create-map iframe {
        border-radius: 0 0px 8px 8px !important;
    }

    .today-section-map-create-flex .today-section-map-create-map {
        margin-top: 30px;
    }

    .today-section-map-create-flex .today-section-map-create-address-all {
        width: 100%;
    }

    .today-section-map-elements h3 {
        font-size: 20px;
    }

    .today-section-map-elements p {
        font-size: 15px;
        max-width: 100%;
    }

    .today-section-map-image {
        padding: 10px;
    }

    .today-section-map-image img {
        min-width: 38px;
    }
}

@media screen and (max-width:640px) {


    .today-section-map {
        margin-top: 40px;
    }

    .contact-section-page {
        margin-bottom: 40px;
    }
}

@media screen and (max-width:540px) {
    .today-section-inputs input[type="text"] {
        width: 160px;
    }

    .today-section-contact {
        height: 900px;
    }


    .today-section-map-image {
        padding: 10px;
    }

    .today-section-map-image img {
        min-width: 28px;
    }

    .today-section-map-elements p {
        max-width: 92%;
    }
}

@media screen and (max-width:480px) {
    .today-section-map-create-first-section {
        max-width: 100%;
    }
    .today-section-inputs ::placeholder {
        font-size: 11px;
    }

    .today-section-inputs input[type="text"] {
        width: 150px;
    }

    .today-section-eco-elements h2 {
        font-size: 26px;
    }

    .today-section-eco-elements p {
        font-size: 12px;
    }

    .today-section-inputs.flexx {
        padding: 4px;
    }

    .today-section-eco-elements {
        padding: 11px 8px 15px;

    }

    .today-section-eco-elements p {
        margin-bottom: 20px;
    }

    .today-section-inputs {
        gap: 15px;
    }

    .today-section-contact {
        height: 820px;
    }

    .today-section-map-elements p {
        font-size: 13px;
    }

    .today-section-map-elements h3 {
        font-size: 18px;
    }

}

@media screen and (max-width:430px) {
    .today-section-eco-elements h1 {
        font-size: 30px;
    }
    .today-section-inputs ::placeholder {
        font-size: 13px;
    }

    .today-section-inputs input[type="text"] {
        width: 190px;
    }

    .today-section-inputs {
        display: block;
    }

    .today-section-inputs.flexx {
        padding: 10px;
    }

    .today-section-inputs-all {
        width: 99.5%;
    }

    .today-section-contact {
        height: 1050px;
    }

    .today-section-map-create-flex .today-section-map-create-address-all {
        padding-top: 50px;
    }

    
}

@media screen and (max-width:320px) {

    .today-section-contact {
        height: 1090px;
    }
    .today-section-eco-elements p {
        font-size: 9px;
    }
}
