/* .dominate--section-perfrom {
    width: 100%;
    display: inline-block;
    background-image: url(../images/flo.png);
    background-repeat: no-repeat;
    background-position: -1% 5%;
} */

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-to {
    height: 40px;
    width: 210px;
    font-family: Anuphan;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #FFEBED;
    position: relative;
    overflow: hidden;
    background-color: #fc5569;
}

.rotate-text {
    display: inline-block;
    transition: transform 0.5s ease;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-to:hover .rotate-text:nth-child(1) {
    animation: rotateLetter 0.8s ease 0.1s forwards;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-to:hover .rotate-text:nth-child(2) {
    animation: rotateLetter 0.8s ease 0.2s forwards;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-to:hover .rotate-text:nth-child(3) {
    animation: rotateLetter 0.8s ease 0.3s forwards;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-to:hover .rotate-text:nth-child(4) {
    animation: rotateLetter 0.8s ease 0.4s forwards;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-to:hover .rotate-text:nth-child(5) {
    animation: rotateLetter 0.8s ease 0.5s forwards;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-to:hover .rotate-text:nth-child(6) {
    animation: rotateLetter 0.8s ease 0.6s forwards;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-to:hover .rotate-text:nth-child(7) {
    animation: rotateLetter 0.8s ease 0.7s forwards;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-to:hover .rotate-text:nth-child(8) {
    animation: rotateLetter 0.8s ease 0.8s forwards;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-to:hover .rotate-text:nth-child(9) {
    animation: rotateLetter 0.8s ease 0.9s forwards;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-to:hover .rotate-text:nth-child(10) {
    animation: rotateLetter 0.8s ease 1s forwards;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-to:hover .rotate-text:nth-child(11) {
    animation: rotateLetter 0.8s ease 1.2s forwards;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-to:hover .rotate-text:nth-child(12) {
    animation: rotateLetter 0.8s ease 1.3s forwards;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-to:hover .rotate-text:nth-child(13) {
    animation: rotateLetter 0.8s ease 1.4s forwards;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-to:hover .rotate-text:nth-child(14) {
    animation: rotateLetter 0.8s ease 1.5s forwards;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-to:hover .rotate-text:nth-child(15) {
    animation: rotateLetter 0.8s ease 1.6s forwards;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-to:hover .rotate-text:nth-child(16) {
    animation: rotateLetter 0.8s ease 1.7s forwards;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-to:hover .rotate-text:nth-child(17) {
    animation: rotateLetter 0.8s ease 1.8s forwards;
}

@keyframes rotateLetter {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-to:before,
.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-to:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    background-color: #77af1e;
    transition: all 0.4s ease-in-out;

}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-to:before {
    left: 0;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-to:after {
    right: 0;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-to:hover {
    color: #f8f8f8;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-to:hover:before {
    width: 50%;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-to:hover:after {
    width: 50%;
}




/* .dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-to {
    height: 40px;
    width: 210px;
    font-family: Anuphan;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #FFEBED;
    cursor: pointer;
    background-size: 300% 100%;
    transition: all .5s ease-in-out;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-to:hover {
    background-position: 100% 0;
    transition: all .5s ease-in-out;
    color: white;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-to {
    background-image: linear-gradient(to right, #fc5569, #fc5569, #4f7513, #ade94e);
} */


.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-side {
    height: 40px;
    width: 210px;
    font-family: Anuphan;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    ;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: #ffebed;

}

.rotate-text {
    display: inline-block;
    transition: transform 0.5s ease;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-side:hover .rotate-text:nth-child(1) {
    animation: rotateLetter 0.8s ease 0.1s forwards;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-side:hover .rotate-text:nth-child(2) {
    animation: rotateLetter 0.8s ease 0.2s forwards;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-side:hover .rotate-text:nth-child(3) {
    animation: rotateLetter 0.8s ease 0.3s forwards;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-side:hover .rotate-text:nth-child(4) {
    animation: rotateLetter 0.8s ease 0.4s forwards;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-side:hover .rotate-text:nth-child(5) {
    animation: rotateLetter 0.8s ease 0.5s forwards;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-side:hover .rotate-text:nth-child(6) {
    animation: rotateLetter 0.8s ease 0.6s forwards;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-side:hover .rotate-text:nth-child(7) {
    animation: rotateLetter 0.8s ease 0.7s forwards;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-side:hover .rotate-text:nth-child(8) {
    animation: rotateLetter 0.8s ease 0.8s forwards;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-side:hover .rotate-text:nth-child(9) {
    animation: rotateLetter 0.8s ease 0.9s forwards;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-side:hover .rotate-text:nth-child(10) {
    animation: rotateLetter 0.8s ease 1s forwards;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-side:hover .rotate-text:nth-child(11) {
    animation: rotateLetter 0.8s ease 1.2s forwards;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-side:hover .rotate-text:nth-child(12) {
    animation: rotateLetter 0.8s ease 1.3s forwards;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-side:hover .rotate-text:nth-child(13) {
    animation: rotateLetter 0.8s ease 1.4s forwards;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-side:hover .rotate-text:nth-child(14) {
    animation: rotateLetter 0.8s ease 1.5s forwards;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-side:hover .rotate-text:nth-child(15) {
    animation: rotateLetter 0.8s ease 1.6s forwards;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-side:hover .rotate-text:nth-child(16) {
    animation: rotateLetter 0.8s ease 1.7s forwards;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-side:hover .rotate-text:nth-child(17) {
    animation: rotateLetter 0.8s ease 1.8s forwards;
}

@keyframes rotateLetter {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-side:before,
.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-side:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    background-color: #77af1e;
    transition: all 0.4s ease-in-out;

}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-side:before {
    left: 0;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-side:after {
    right: 0;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-side:hover {
    color: #f8f8f8;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-side:hover:before {
    width: 50%;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-side:hover:after {
    width: 50%;
}




/* .dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-side {
    height: 40px;
    width: 210px;
    font-family: Anuphan;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    background-color: #FFEBED;
    cursor: pointer;
    background-size: 300% 100%;
    transition: all .5s ease-in-out;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-side:hover {
    background-position: 100% 0;
    transition: all .5s ease-in-out;
    color: white;
}

.dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-side {
    background-image: linear-gradient(to right, #FFEBED, #FFEBED, #4f7513, #ade94e);
} */


.dominate--section-perfrom .dominate--section-perfrom-rank .dominate--section-perfrom-rank-flex {
    display: flex;
    width: 100%;
}

.dominate--section-perfrom .dominate--section-perfrom-rank .dominate--section-perfrom-rank-flex .dominate--section-perfrom-rank-left {
    width: 100%;
    max-width: 700px;
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
}

.dominate--section-perfrom .dominate--section-perfrom-rank .dominate--section-perfrom-rank-flex .dominate--section-perfrom-rank-image img {
    width: 100%;
}

.dominate--section-perfrom .dominate--section-perfrom-rank .dominate--section-perfrom-rank-flex .dominate--section-perfrom-rank-image {
    width: 50%;
    padding-top: 40px;
}

.dominate--section-perfrom .dominate--section-perfrom-rank .dominate--section-perfrom-rank-flex .dominate--section-perfrom-rank-left h1 {
    margin: 0px;
    max-width: 80%;
}

.dominate--section-perfrom .dominate--section-perfrom-rank .dominate--section-perfrom-rank-flex .dominate--section-perfrom-rank-left p {
    max-width: 88%;
}


.how--section-perfroms .income-sec .more-figma {
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-family: Work Sans;
    color: white;
    background-color: #fc5569;
    cursor: pointer;
    margin-top: 50px;
    position: relative;
    overflow: hidden;
    cursor: pointer;

}

.rotate-text {
    display: inline-block;
    transition: transform 0.5s ease;
}

.how--section-perfroms .income-sec .more-figma:hover .rotate-text:nth-child(1) {
    animation: rotateLetter 0.8s ease 0.1s forwards;
}

.how--section-perfroms .income-sec .more-figma:hover .rotate-text:nth-child(2) {
    animation: rotateLetter 0.8s ease 0.2s forwards;
}

.how--section-perfroms .income-sec .more-figma:hover .rotate-text:nth-child(3) {
    animation: rotateLetter 0.8s ease 0.3s forwards;
}

.how--section-perfroms .income-sec .more-figma:hover .rotate-text:nth-child(4) {
    animation: rotateLetter 0.8s ease 0.4s forwards;
}

.how--section-perfroms .income-sec .more-figma:hover .rotate-text:nth-child(5) {
    animation: rotateLetter 0.8s ease 0.5s forwards;
}

.how--section-perfroms .income-sec .more-figma:hover .rotate-text:nth-child(6) {
    animation: rotateLetter 0.8s ease 0.6s forwards;
}

.how--section-perfroms .income-sec .more-figma:hover .rotate-text:nth-child(7) {
    animation: rotateLetter 0.8s ease 0.7s forwards;
}

.how--section-perfroms .income-sec .more-figma:hover .rotate-text:nth-child(8) {
    animation: rotateLetter 0.8s ease 0.8s forwards;
}

.how--section-perfroms .income-sec .more-figma:hover .rotate-text:nth-child(9) {
    animation: rotateLetter 0.8s ease 0.9s forwards;
}

@keyframes rotateLetter {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.how--section-perfroms .income-sec .more-figma:before,
.how--section-perfroms .income-sec .more-figma:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    background-color: #77af1e;
    transition: all 0.4s ease-in-out;

}

.how--section-perfroms .income-sec .more-figma:before {
    left: 0;
}

.how--section-perfroms .income-sec .more-figma:after {
    right: 0;
}

.how--section-perfroms .income-sec .more-figma:hover {
    color: #f8f8f8;
}

.how--section-perfroms .income-sec .more-figma:hover:before {
    width: 50%;
}

.how--section-perfroms .income-sec .more-figma:hover:after {
    width: 50%;
}


/* .how--section-perfroms .income-sec .more-figma {
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-family: Work Sans;
    color: white;
    background-color: #fc5569;
    cursor: pointer;
    margin-top: 50px;
    background-size: 300% 100%;
    transition: all .5s ease-in-out;
}

.how--section-perfroms .income-sec .more-figma:hover {
    background-position: 100% 0;
    transition: all .5s ease-in-out;
    color: white;
}

.how--section-perfroms .income-sec .more-figma {
    background-image: linear-gradient(to right, #fc5569, #fc5569, #4f7513, #ade94e);
} */

.how--section-perfroms .how--section-perfroms-start .income {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.how--section-perfroms .how--section-perfroms-start .income .income_store {
    width: 50%;
}

.how--section-perfroms .how--section-perfroms-start .income .income_store img {
    width: 100%;
}

.how--section-perfroms .how--section-perfroms-start .income .income-sec1 {
    width: 40%;
    display: flex;
    align-items: center;
}

.how--section-perfroms .how--section-perfroms-start .income .income-sec h2 {
    margin-top: 6px;
    max-width: 71%;
}

.how--section-perfroms .how--section-perfroms-start .income .income-sec .more_income_1 {
    display: flex;
    gap: 10px;
    margin-bottom: 7px;
}

.more_income .more_income_1 .more_income_3 p {

    margin-top: -4px;
}

/* .how--section-perfroms {
    padding: 50px 0;
    background-image: url(../images/bg1.png);
    background-repeat: no-repeat;
    background-position: 90% 87%;
}

.galexy--section-perfroms {
    background-image: url(../images/bg4.png);
    padding: 70px 0;
} */

.galexy--section-perfroms .galexy--section-perfroms-top h2 {
    margin: 0 auto;
    text-align: center;
    max-width: 50%;
}

.galexy--section-perfroms .off_page {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.galexy--section-perfroms .off_page .off_image {
    width: 50%;

}

.galexy--section-perfroms .off_page .off_image img {
    width: 100%;
}

.galexy--section-perfroms .off_page .off_page_seo {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;

}

.galexy--section-perfroms .off_page .off_page_seo h2 {
    margin: 0;
}

.galexy--section-perfroms .off_page .off_page_seo p {
    margin-top: 7px;
    max-width: 74%;
    font-weight: 500;
}




.galexy--section-perfroms .off_page .off_page_seo .tail-seo h3 {
    font-weight: 900;
    margin-top: 17px;
    margin-bottom: 0;
    font-size: 19px;
}

.galexy--section-perfroms .off_page .off_page_seo .tail-seo p {
    max-width: 87%;
    font-weight: 500;
}

.galexy--section-perfroms .off_page .off_page_seo .per_seo {
    display: flex;
    gap: 15px;
    margin-top: 26px;
    margin-bottom: -20px;
}

.galexy--section-perfroms .off_page .off_page_seo .per_seo h3 {
    margin-top: 5px;
    font-weight: 900;
    margin-bottom: 0;
    font-size: 19px;
}


.galexy--section-perfroms .lor_sec .off_page_seo {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 700px;
    margin: 0 0 0 auto;
}

.galexy--section-perfroms .lor_sec .off_page_seo h2 {
    margin: 0;
}

.galexy--section-perfroms .lor_sec .off_page_seo p {
    margin-top: 7px;
    max-width: 59%;
    font-weight: 500;
}

.tail-seo {
    display: flex;
    gap: 10px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 13px;
    width: 100%;
    max-width: 65%;
    background-color: #f8e4e4;
}

.galexy--section-perfroms .lor_sec .off_page_seo .tail-seo h3 {
    font-weight: 900;
    margin-top: 17px;
    margin-bottom: 0;
    font-size: 19px;
}

.galexy--section-perfroms .lor_sec .off_page_seo .tail-seo p {
    max-width: 87%;
    font-weight: 500;
}

.galexy--section-perfroms .lor_sec .off_page_seo .per_seo {
    display: flex;
    gap: 15px;
    margin-top: 26px;
    margin-bottom: -20px;
}

.galexy--section-perfroms .lor_sec .off_page_seo .per_seo h3 {
    margin-top: 5px;
    font-weight: 900;
    margin-bottom: 0;
    font-size: 19px;
}

.galexy--section-perfroms .galexy--section-perfroms-add .loc_secimg {
    width: 50%;
}

.galexy--section-perfroms .galexy--section-perfroms-add .loc_secimg img {
    width: 100%;
}

.galexy--section-perfroms .galexy--section-perfroms-add .lor_sec {
    display: flex;
}

.feature--sections .feature_flex {
    display: flex;
    border: 1px solid rgb(233, 233, 233);
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.ceo .ceo2 h4 {
    margin: 0;
    font-size: 15px;
    font-weight: 900;
}

.ceo .ceo2 h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.ceo {
    display: flex;
    gap: 13px;
    align-items: center;
    text-align: left;
}

.feature--sections {
    width: 100%;
    display: inline-block;
}

.feature--sections .feature--sections-megapage {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    border: 1px solid rgb(221, 221, 221);
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 14px;
    border-radius: 20px;
    box-shadow: rgba(181, 181, 181, 0.25) 0px 54px 55px, rgba(175, 174, 174, 0.12) 0px -12px 30px, rgba(150, 150, 150, 0.12) 0px 4px 6px, rgba(205, 205, 205, 0.17) 0px 12px 13px, rgba(192, 192, 192, 0.09) 0px -3px 5px;

}

.features_all {
    width: 25%;
}

.fet_img img {
    width: 88%;
}

.features_all .feature--sections-megapage-build h4 {
    margin: 0;
    margin-bottom: 17px;
    color: #fc5569;
    padding-left: 20px;
    font-size: 16px;
}

/* 
.mega-dropdown {
    position: absolute;
    top: 100%;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    padding: 0px;
    width: 100%;
    max-width: 1400px;
    border-radius: 20px;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.4s ease;
}

.mega-dropdown.show {
    opacity: 1;
    visibility: visible;
}

.drop_blog {
    color: black;
    cursor: pointer;
}

.drop_blog:hover .mega-dropdown {
    display: block;
} */
.product-shopify-hide-btn {
    display: none;
}

.product-shopify-show-before {
    display: none;
}

.product-shopify {
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: white;
    transform: translateX(-50%);
    padding: 0px;
    width: 100%;
    max-width: 1400px;
    border-radius: 20px;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.4s ease;
}



.product-shopify.show {
    opacity: 1;
    visibility: visible;
}

.drop_blog:hover .product-shopify {
    display: block;
}

.product-shopify-mega .product-shopify-mega-page {
    border: 1px solid white;
    padding: 15px;
    border-radius: 15px;
    background-color: rgb(80, 116, 28);
    padding-right: 25px;
}

.product-shopify-mega .product-shopify-mega-flex {
    display: flex;
    gap: 30px;
    padding-top: 20px;
}

.product-shopify-project-group {
    display: flex;
    width: 77%;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

/* .product-shopify-mega .product-shopify-mega-flex .product-shopify-project:nth-child(1) {
    width: 22%;
} */

.product-shopify-mega .product-shopify-mega-flex .product-shopify-project {
    width: 24%;
}

.product-items {
    width: 100%;
    max-width: 31.3%;
}

.product-shopify-mega-start .product-shopify-first img {
    width: 100%;
    max-width: 89%;
    padding-top: 20px;
    padding-left: 7px;
    margin-bottom: -40px;
}

.product-shopify-mega-start .project-shopfiy-one {
    border: 1px solid rgb(220, 220, 220);
    border-radius: 10px;
    background-color: white;
    margin-top: -20px;
    margin-right: 5px;

}

.product-shopify-mega-start .product-shopify-first {
    background-color: #f8dcd4;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.product-shopify-start-flex-bg {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 10px;
}

.product-shopify-start-flex-bg .product-shopify-project-image img {
    width: 47px;
}

.product-shopify-project-image img {
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px;
    background-color: white;
}

.product-shopify-start-flex-bg .product-shopify-project-elements h5 {
    margin: 0;
    font-weight: 400;
    color: white;
    font-size: 16px;
    padding-bottom: 4px;
}

.product-shopify-start-flex-bg .product-shopify-project-elements p {
    margin: 0;
    font-size: 13px;
    line-height: 17px;
    color: rgb(234, 234, 234);
    font-weight: 300;

}

.product-shopify-project-elements {
    padding-top: 6px;
    text-align: left;
}

.product-shopify-second {
    margin-top: 50px;
    padding-left: 20px;
}

.product-shopify-second h3 {
    font-size: 26px;
    line-height: 30px;
    font-weight: 700;
    margin: 0;
}

.product-shopify-second p {
    margin-top: 10px;
    font-size: 13px;
    line-height: 15px;
    max-width: 85%;
    margin-bottom: 40px;
}

.product-shopify-mega-start .project-shopfiy-one button.mega-project {
    padding: 8px 20px;
    font-size: 16px;
    font-family: Work Sans;
    margin-bottom: 30px;
    background-color: #fc5569;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

span.life-shopify {
    font-weight: 650;
}

.product-shopify-start-flex-bg:hover {
    background-color: #283c0c;
}

.tail-for-bg-bottam h3 {
    cursor: pointer;
    font-size: 19px;
}


.tail-for .content {
    display: none;
}

.tail-for.visible .content {
    display: flex;
    gap: 10px;
}

.tail-for {
    border: none;
    background-color: transparent;
}

.tail-seo2 p {
    max-width: 90% !important;
}


.tail-for.visible {
    border: 2px solid white;
    padding: 10px;
    border-radius: 13px;
    width: 100%;
    max-width: 65%;
    background-color: #feb8b8;
}



.tail-for.visible h3 {
    margin: 0px;
    padding-left: 60px;
    padding-top: 11px;
}

.tail-seo1 img {
    width: 30px;
}

.tail-seo1 {
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
    height: 53px;
    width: 59px;
    text-align: center;
    background-color: white;
    margin-top: 9px;
}

@media screen and (min-width:2000px) {
    /* .dominate--section-perfrom .dominate--section-perfrom-rank .dominate--section-perfrom-rank-flex .dominate--section-perfrom-rank-left {
        width: 40%;
        max-width: 40%;
    }

    .dominate--section-perfrom .dominate--section-perfrom-rank .dominate--section-perfrom-rank-flex .dominate--section-perfrom-rank-image {
        width: 60%;
    }

    .how--section-perfroms .how--section-perfroms-start .income .income_store {
        width: 60%;
    }

    .galexy--section-perfroms .off_page .off_image {
        width: 60%;
    }

    .tail-for.visible {
        max-width: 100%;
    }

    .galexy--section-perfroms .lor_sec .off_page_seo {
        width: 40%;
        max-width: 40%;
    }

    .galexy--section-perfroms .galexy--section-perfroms-add .loc_secimg {
        width: 60%;
    } */

    .how--section-perfroms .how--section-perfroms-start .income .income_store {
        width: 60%;
    }

    .galexy--section-perfroms .off_page .off_image {
        width: 60%;
    }

    .galexy--section-perfroms .lor_sec .off_page_seo p {
        max-width: 90%;
    }
}

@media screen and (max-width:1400px) {
    .wrapper-mega {
        padding: 0 30px;
    }

    .galexy--section-perfroms .galexy--section-perfroms-top h2 {
        max-width: 73%;
    }

    .tail-for.visible {
        max-width: 100%;
    }

    .tail-for.visible h3 {
        padding-left: 87px;
    }

    .tail-seo2 p {
        max-width: 100% !important;
    }



}

@media screen and (max-width:1300px) {
    .dominate--section-perfrom .dominate--section-perfrom-rank .dominate--section-perfrom-rank-flex .dominate--section-perfrom-rank-left {
        max-width: 650px;
        padding: 30px 0 0 0;

    }

    .galexy--section-perfroms .lor_sec .off_page_seo {
        max-width: 650px;
    }

    .galexy--section-perfroms .galexy--section-perfroms-add .loc_secimg {
        width: 100%;
    }
}

@media screen and (max-width:1280px) {
    .mega-dropdown {
        max-width: 900px;
    }

    .fet_img img {
        width: 100%;
    }



}

@media screen and (max-width:1200px) {
    .dominate--section-perfrom .dominate--section-perfrom-rank .dominate--section-perfrom-rank-flex .dominate--section-perfrom-rank-left {
        max-width: 600px;
    }

    .dominate--section-perfrom .dominate--section-perfrom-rank .dominate--section-perfrom-rank-flex .dominate--section-perfrom-rank-image {
        width: 80%;

    }

    .dominate--section-perfrom .dominate--section-perfrom-rank .dominate--section-perfrom-rank-flex .dominate--section-perfrom-rank-left h1 {
        max-width: 100%;
    }

    .dominate--section-perfrom .dominate--section-perfrom-rank .dominate--section-perfrom-rank-flex .dominate--section-perfrom-rank-left p {
        max-width: 100%;
    }

    .how--section-perfroms .how--section-perfroms-start .income .income-sec h2 {
        max-width: 100%;
    }

    .galexy--section-perfroms .off_page .off_page_seo p {
        max-width: 100%;
    }

    .galexy--section-perfroms .lor_sec .off_page_seo p {
        max-width: 100%;
    }
}

@media screen and (max-width:1150px) {
    .mega-dropdown {
        left: 50%;
    }

    .feature--sections .feature--sections-megapage {
        padding-top: 20px;
        padding-bottom: 0;
    }

}

@media screen and (max-width:1100px) {
    .dominate--section-perfrom .dominate--section-perfrom-rank .dominate--section-perfrom-rank-flex .dominate--section-perfrom-rank-left {
        max-width: 550px;
    }
}

@media screen and (max-width:1050px) {
    .dominate--section-perfrom .dominate--section-perfrom-rank .dominate--section-perfrom-rank-flex .dominate--section-perfrom-rank-left {
        max-width: 500px;
    }

    .dominate--section-perfrom .dominate--section-perfrom-rank .dominate--section-perfrom-rank-flex .dominate--section-perfrom-rank-image {
        width: 100%;

    }
}

@media screen and (max-width:1024px) {


    .product-shopify-start-flex-bg .product-shopify-project-elements h5 {
        font-size: 12px;
    }

    .product-shopify-start-flex-bg .product-shopify-project-elements p {
        font-size: 11px;
    }

    .product-shopify-start-flex-bg {
        padding: 10px;
    }

    .product-shopify-second h3 {
        font-size: 20px;
        line-height: 25px;
    }

    .product-shopify-mega-start .project-shopfiy-one button.mega-project {
        font-size: 11px;
    }

}

@media screen and (max-width: 1000px) {
    .dominate--section-perfrom .dominate--section-perfrom-rank .dominate--section-perfrom-rank-flex .dominate--section-perfrom-rank-left {
        max-width: 450px;
    }
}

@media screen and (max-width: 991px) {
 

    .product-shopify-show-after {
        display: none;
    }

    .product-shopify-show-before {
        display: block;
        position: relative;
    }

    svg.right-show {
        float: right;
        position: absolute;
        top: 27px;
        right: 29px;
    }



    li.product-shopify-show-before .drop-servie ul {
        padding: 0;
    }

    ul.navigation li.product-shopify-show-before .drop-servie ul li {
        padding-top: 0;
        margin-bottom: 10px;
        padding-left: 0;
        border: none;
        font-size: 18px;
        padding-bottom: 0;
    }

    /* ul.navigation li.product-shopify-show-before li {
        padding-left: 0;
    } */

    /* ul.navigation li.product-shopify-show-before {
        padding: 0 10px;
    } */

    .product-shopify-mega {
        position: relative;
    }

    .product-shopify-hide-btn {
        display: block;
        position: absolute;
        z-index: 94;
        right: 9px;
        top: 6px;
        font-size: 26px;
    }

    .product-items {
        width: 100%;
        max-width: 47.3%;
    }

    .product-shopify-mega .product-shopify-mega-flex .product-shopify-project {
        width: 35%;
    }

    ul.product-shopify.show {
        position: fixed;
        width: 96% !important;
        left: 50%;
        top: 9%;
    }


    .wrapper-mega {
        padding: 0;
    }

    .dominate--section-perfrom .dominate--section-perfrom-rank .dominate--section-perfrom-rank-flex {
        display: block;
    }

    .dom_start .laye-first .laye2-right-1 h5 {
        font-size: 18px;
        margin-top: 1px;
    }

    .dom_start .laye-first {
        justify-content: center;
    }

    .dominate--section-perfrom .dominate--section-perfrom-rank .dominate--section-perfrom-rank-flex .dominate--section-perfrom-rank-left p {
        max-width: 100%;
        font-size: 18px;
        font-weight: 500;
    }

    .dominate--section-perfrom .dominate--section-perfrom-rank .dominate--section-perfrom-rank-flex .dominate--section-perfrom-rank-left {
        width: 100%;
        max-width: 100%;
        text-align: center;
    }

    .income-sec .laye-first {
        justify-content: center;
    }

    .how--section-perfroms .how--section-perfroms-start .income .income-sec h2 {
        font-size: 45px;
        max-width: 80%;
        margin: auto;
        margin-bottom: 25px;
    }

    .more_income .more_income_1 .more_income_3 p {
        font-size: 17px;
    }

    .how--section-perfroms .how--section-perfroms-start .income .income-sec .more_income_1 {
        max-width: 60%;
        margin: auto;
    }

    .how--section-perfroms .how--section-perfroms-start .income {
        display: grid;
    }

    .how--section-perfroms .how--section-perfroms-start .income .income_store {
        width: 100%;
        order: 2;
    }

    .how--section-perfroms .how--section-perfroms-start .income .income-sec1 {
        width: 100%;
        text-align: center;
    }

    .how--section-perfroms .income-sec .more-figma {
        margin-top: 20px;
    }

    .galexy--section-perfroms .galexy--section-perfroms-top h2 {
        max-width: 100%;
    }

    .galexy--section-perfroms .off_page {
        display: grid;

    }

    .galexy--section-perfroms .off_page .off_image {
        width: 100%;
        order: 2;
    }

    .galexy--section-perfroms .off_page .off_page_seo {
        width: 100%;
        text-align: center;
        display: block;
    }

    .galexy--section-perfroms .galexy--section-perfroms-add .lor_sec {
        display: block;
    }

    .galexy--section-perfroms .lor_sec .off_page_seo {
        max-width: 100%;
    }

    .feature--sections .feature--sections-megapage .feature--sections-megapage-first {
        display: none;
    }

    .feature--sections .feature--sections-megapage {
        display: block;
        border: none;
        box-shadow: none;
    }

    .mega-dropdown {
        left: 90%;
        top: 29%;
        height: 300px;
        overflow-y: scroll;
        max-width: 500px;
        border: 1px solid rgb(221, 221, 221);
        border-radius: 8px;
    }

    .mega-dropdown::-webkit-scrollbar {
        width: 12px;
    }

    .mega-dropdown::-webkit-scrollbar-thumb {
        background-color: #c9c9c9;
        border-radius: 5px;
    }

    .features_all {
        width: 100%;
        max-width: 100%;
    }

    .tail-seo1 {
        height: 51px;
        padding: 10px;
        width: 51px;
        margin-top: -4px;
    }

    .tail-seo1 img {
        width: 27px;
    }

    .galexy--section-perfroms .galexy--section-perfroms-top h2 {
        font-size: 45px;
    }

    .dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn {
        justify-content: center;
    }

    .galexy--section-perfroms .lor_sec .off_page_seo {
        max-width: 100%;
        display: block;
        text-align: center;
    }

    .galexy--section-perfroms .off_page .off_page_seo h2 {
        font-size: 40px;
        font-weight: 600;
    }

    .galexy--section-perfroms .off_page .off_page_seo p {
        max-width: 76%;
        margin: auto;
        margin-top: 10px;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 25px;
    }

    .tail-for.visible {
        max-width: 47%;
        text-align: left;
        margin: auto;
        padding: 20px;
    }

    .tail-for.visible h3 {
        padding-left: 62px;
    }

    .tail-seo2 p {
        margin: 0 !important;
        font-size: 16px !important;
        line-height: 18px;
    }

    .galexy--section-perfroms .lor_sec .off_page_seo h2 {
        font-size: 40px;
        font-weight: 500;
    }

    .galexy--section-perfroms .lor_sec .off_page_seo p {
        max-width: 67%;
        font-size: 17px;
        font-weight: 400;
        margin: auto;
        margin-top: 10px;
    }

    .galexy--section-perfroms .off_page .off_image {
        margin-top: 30px;
    }

    .galexy--section-perfroms .galexy--section-perfroms-add .loc_secimg {
        margin-bottom: 20px;
    }

    .how--section-perfroms .how--section-perfroms-start .income .income-sec .more_income_1 {
        text-align: left;
    }
}

@media screen and (max-width:768px) {
    .product-shopify-hide-btn {
        right: 4px;
        top: 5px;
        font-size: 22px;
    }

    .product-shopify-mega .product-shopify-mega-flex {
        display: block;
    }

    .product-shopify-mega .product-shopify-mega-flex .product-shopify-project {
        width: 100%;
    }

    .product-shopify-project-group {
        width: 100%;
    }

    ul.navigation ul.product-shopify.show {
        width: 95% !important;
        left: 50%;

    }

    .product-shopify-mega-start .product-shopify-first img {
        max-width: 40%;
    }

    .product-shopify-mega-start .project-shopfiy-one {
        margin-bottom: 20px;
        margin-right: 0;
    }

    .product-shopify-start-flex-bg .product-shopify-project-elements h5 {
        font-size: 16px;
    }

    .product-shopify-start-flex-bg .product-shopify-project-elements p {
        font-size: 14px;
    }

    .product-shopify-second h3 {
        font-size: 26px;
        line-height: 25px;
    }

    .product-shopify-mega-start .project-shopfiy-one button.mega-project {
        font-size: 16px;
    }


    .dominate--section-perfrom .dominate--section-perfrom-rank .dominate--section-perfrom-rank-flex .dominate--section-perfrom-rank-left h1 {
        max-width: 96%;
        margin: auto;
    }

    .how--section-perfroms .how--section-perfroms-start .income .income-sec h2 {
        max-width: 100%;
    }

    .how--section-perfroms .how--section-perfroms-start .income .income-sec .more_income_1 {
        max-width: 70%;
        text-align: left;
    }

    .how--section-perfroms {
        padding-bottom: 10px;
        padding-top: 40px;
    }

    .galexy--section-perfroms {
        padding: 35px;
    }

    .galexy--section-perfroms .off_page .off_page_seo p {
        max-width: 88%;

    }

    .tail-for.visible {
        max-width: 66%;
    }

    .galexy--section-perfroms .off_page {
        padding-bottom: 20px;
    }

    .galexy--section-perfroms .lor_sec .off_page_seo p {
        max-width: 82%;
    }

    .galexy--section-perfroms .off_page {
        padding-top: 25px;
    }

    .galexy--section-perfroms .galexy--section-perfroms-add .loc_secimg {
        margin-bottom: 50px;
    }

    .dominate--section-perfrom {
        background: none;
    }
}

@media screen and (max-width: 540px) {

    .product-shopify-mega-start .product-shopify-first img {
        max-width: 50%;
    }

    ul.navigation ul.product-shopify.show {
        width: 94% !important;
        left: 50%;
    }

    .how--section-perfroms {
        padding-top: 10px;
    }

    .dominate--section-perfrom .dominate--section-perfrom-rank .dominate--section-perfrom-rank-flex .dominate--section-perfrom-rank-left h1 {
        font-size: 45px;
    }

    .dominate--section-perfrom .dominate--section-perfrom-rank .dominate--section-perfrom-rank-flex .dominate--section-perfrom-rank-image {
        padding-top: 30px;
    }

    .how--section-perfroms .how--section-perfroms-start .income .income-sec h2 {
        font-size: 40px;
    }

    .how--section-perfroms .how--section-perfroms-start .income .income-sec .more_income_1 {
        max-width: 100%;
    }

    .galexy--section-perfroms .galexy--section-perfroms-top h2 {
        font-size: 40px;
    }

    .galexy--section-perfroms .off_page .off_page_seo p {
        max-width: 100%;
        font-size: 16px;
    }

    .tail-for.visible {
        max-width: 85%;
    }

    .galexy--section-perfroms .lor_sec .off_page_seo p {
        max-width: 100%;
        font-size: 15px;
    }

    .galexy--section-perfroms .galexy--section-perfroms-add .loc_secimg {
        margin-bottom: -10px;
    }

    .galexy--section-perfroms {
        padding: 30px 0;
    }

    .galexy--section-perfroms .off_page .off_page_seo h2 {
        font-size: 35px;
    }

    .galexy--section-perfroms .lor_sec .off_page_seo h2 {
        font-size: 35px;
    }

    .last_page {
        padding-bottom: 100px;
    }
}

@media screen and (max-width: 480px) {
    ul.navigation ul.product-shopify.show {
        top: 8%;
    }

    .product-items {
        width: 100%;
        max-width: 100.3%;
    }

    .product-shopify-mega-start .product-shopify-first img {
        max-width: 75%;
    }

    .feature--sections .feature--sections-megapage {
        padding: 20px 10px 0;
    }

    .dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-to {
        width: 180px;
    }

    .dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn .view-side {
        width: 180px;
    }

    .mega-dropdown::-webkit-scrollbar {
        width: 6px;
    }

    .dominate--section-perfrom .dominate--section-perfrom-rank .dominate--section-perfrom-rank-flex .dominate--section-perfrom-rank-left h1 {
        font-size: 40px;
        max-width: 100%;
    }

    .tail-for.visible {
        max-width: 100%;
    }
}

@media screen and (max-width: 380px) {
    .mega-dropdown {
        height: 250px;
    }

    .dominate--section-perfrom .dominate--section-perfrom-rank-left .dominate--section-perfrom-rank-btn {
        display: grid;
    }

    .how--section-perfroms .how--section-perfroms-start .income .income-sec h2 {
        font-size: 35px;
    }

    .how--section-perfroms .how--section-perfroms-start .income .income_store {
        margin-top: 15px;
    }

    .galexy--section-perfroms .galexy--section-perfroms-top h2 {
        font-size: 35px;
    }

    .tail-for h3 {
        text-align: left;
    }
}




.how--section-perfroms {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.how--section-perfroms.in-view {
    opacity: 1;
}