.theme-and--section {
    display: inline-block;
    width: 100%;
    background-image: url(../images/storebg.webp);
    background-repeat: no-repeat;
    background-size: cover;
}


.theme-and--section {
    text-align: center;
}

.theme-and--section .theme-section-h1 {
    max-width: 45%;
    margin: auto;
    margin-bottom: 20px;
}

.theme-and--section .theme-section-p p {
    max-width: 67%;
    margin: auto;
    margin-bottom: 25px;
}

.theme-and--section {
    text-align: center;
    padding: 70px 0 90px 0;
}

.theme-and--section .theme-section-layout {
    position: relative;
    z-index: 5;
    overflow: hidden;
    width: 100%;
    max-width: 92%;
}

.theme-section-img img {
    width: 100%;
}


.theme-and--section .theme-section-p {
    position: absolute;
    left: 32%;
    bottom: -3%;
}



.theme-and--section .theme-section-sidebar img {
    width: 100%;
}

.theme-and--section .theme-section-sidebar {
    position: absolute;
    right: 4.6%;
    bottom: 16%;
    z-index: 2;
}

.theme-and--section .theme-section-circle {
    position: absolute;
    top: -10%;
    right: 4%;
    z-index: -1;
}

.theme-and--section .theme-section-circle img {
    width: 100%;
}

.theme-section-shopify-image {
    position: absolute;
    top: -13%;
    right: 9.9%;
    z-index: 4;
}

.theme-section-shopify-image img {
    width: 100%;
}

.theme-and--section .theme-section-slider-first {
    position: absolute;
    display: inline-block;
    width: 100%;
}

.theme-section-slides img {
    width: 100%;
}

.branding--section-elementor {
    padding: 80px 0;
}

.branding--section-elementor .branding-section-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.branding--section-elementor .branding-section-element {
    width: 100%;
    max-width: 700px;
    margin: 0 0 auto;
}

.branding--section-elementor .branding-section-image {
    width: 50%;
}

.branding--section-elementor .branding-section-image img {
    width: 100%;
}